<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tipix1998.mainactivity">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity_"
            android:theme="@style/AppFullScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SoyUser_"
            android:theme="@style/AppFullScreenTheme" />
        <activity
            android:name=".Recetas_"
            android:theme="@style/AppFullScreenTheme" />
        <activity
            android:name=".Login_"
            android:theme="@style/AppFullScreenTheme"
            />
        <activity android:name=".Registro_"
            android:theme="@style/AppFullScreenTheme"
            android:noHistory = "true"></activity>
    </application>

</manifest>